@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /*===== Colores =====*/
  --first-color: #fffdd0;
  --first-color-dark: #ff7f50;
  --first-color-light: #7ed6f8;
  --first-color-lighten: #f2f2f2;
  --light-orange: #ffd580;
  --background-image: linear-gradient(
    to right bottom,
    #ff7f50,
    #36454f,
    #7ed6f8,
    #fffdd0
  );
  --gradient: linear-gradient(rgba(0, 0, 0, 0.5), #ff7f50);
}

body {
  color: var(--first-color-dark);
}

.bg-gradient {
  background: var(--gradient) !important;
}

.logo {
  top: 25px;
  right: 0;
  width: 25%;
  height: 20%;
}

.navbar {
  height: 55px;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.main {
  width: 80%;
  height: auto;
  margin: 95px 20px;
}

.home-content {
  margin: 150px;
}
.home-content .head {
  position: relative;
  font-size: 60px;
  font-weight: 800;
  margin-left: 0;
  color: var(--first-color-dark);
}

.home-content h3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #00abf0;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
  color: var(--first-color-dark);
}

.home-content .btn-box {
  position: relative;

  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: relative;
  margin: 20px;
  width: 170px;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.img-testimony {
  width: 231px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img {
  height: 89vh;
  margin: 90px 0;
  background-position: left;
  display: flex;
}

.heading {
  text-align: center;
  font-size: 4.5rem;

  color: var(--first-color-dark);
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
  margin-top: 40px;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.about-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

span {
  color: #00abf0;
}

.button {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 50px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.button a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%S;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.button a:hover {
  color: #00abf0;
}

.button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.button a:hover::before {
  width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.testimonies:hover {
  background: var(--first-color-light);
}

.leaders,
.testimony {
  margin: 2rem;
  background: var(--background-image);
}

.leaders-container,
.testimonials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: initial;
  gap: 3rem;
  margin: 10px 100px;
  width: 800px;
  height: 100vh;
}

.leaders-container .leaders-box,
.testimonials .testimony-box {
  flex: 1 1 1rem; /* 1 1 1rem */
  background: #00abf0;
  padding: 0rem 0rem 0rem; /* 1rem 1rem 1rem */
  border-radius: 1rem;
  text-align: center;
  border: 0.1rem solid #081b29;
  transition: 0.5s ease;
}

.leaders-container .leaders-box:hover,
.testimonials .testimony-box:hover {
  border-color: #081b29;
  transform: scale(1.02);
}

.leaders-box:hover,
.testimony-box:hover {
  color: #081b29;
}

.img1 {
  width: 100%;
  height: 50%;
}

.btn1 {
  /*services-box a*/
  position: relative;
  display: flex;
  justify-content: center;
  width: 320px;
  height: 50px;
}

.btn1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 30%;
  width: 50%;
  height: 100%;
  background: #00abf0;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn1 a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%S; /*there waso an S at the end. I have to confirm*/
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn1 a:hover {
  color: #00abf0;
}

.btn1 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn1 a:hover::before {
  width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.leaders-box i,
.testimony-box i {
  font-size: 7rem;
  color: #081b29;
}

.leaders-box h3,
.testimony-box h3 {
  font-size: 2.6rem;
}

.leaders-box p,
.testimony-box p {
  position: relative;
  font-size: 16px;
  margin: 5px 0 40px;
}

.leaders-box p::before,
.testimony-box p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 98%;
  height: 98%;
  background: #00abf0;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}
/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.services {
  width: 100%;
  height: 950px;
  margin: 5rem;
  background: var(--first-color-lighten);
}

.services h2 {
  margin-top: 2rem;
}

.services-container .services-box {
  position: relative;
  height: 90%;
  width: 77%;
  margin: 50px;
  border-radius: 2px;
  box-shadow: 2 2 2rem #081b29;
  overflow: hidden;
}
.services-box img {
  width: 80%;
  margin: 30px 30px 30px 30px;
  transition: 0.5s ease;
}

.services-box:hover img {
  transform: scale(1.1);
}

.services-box .services-layer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #00abf0);
  text-align: center;
  padding: 0 0rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.services-box:hover .services-layer {
  transform: translateY(0);
}

.services-layer h4 {
  font-size: 3rem;
}

.services-layer p {
  font-size: 1.3rem;
  margin: 0.1rem 0 1rem;
}

.services-layer a {
  width: 5rem;
  height: 3rem;
  background: #081b29;
  border-radius: 20%;
}

.contact {
  width: 690px;
  margin-left: 25px;
}

.contact h2 {
  margin: 5rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

input .btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 50px;
}

input .btn2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 30%;
  width: 100%;
  height: 100%;
  background: #00abf0;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 160px;
  height: 100%; /*there waso an S at the end. I have to confirm*/
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn2:hover {
  color: #00abf0;
  background: #081b29;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn2:hover::before {
  width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.contact .btn1 {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #081b29;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem gray;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #00abf0;
}

@media (max-width: 991px) {
  .navbar {
    height: auto;
  }
  .logo {
    width: 50%;
    height: auto;
  }
  .footer {
    height: auto;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar a {
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 767.98px) {
  .home-content {
    width: 100%;
    margin: 40px;
  }

  .home-content h1 {
    font-size: 2rem;
  }

  .home-content h3 {
    font-size: 1.6rem;
  }

  .home-img img {
    width: 100%;
    margin-top: 2rem;
  }

  .services-container {
    margin: 20px;
  }

  .services-box {
    margin: 10px;
  }

  .services-layer h4 {
    font-size: 2rem;
  }

  .services-layer p {
    font-size: 1.2rem;
  }

  .testimonials {
    margin: 20px;
  }

  .testimony-box {
    margin: 10px;
  }

  .testimony-box h3 {
    font-size: 1.6rem;
  }

  .testimony-box p {
    font-size: 1.2rem;
  }

  .contact {
    width: 100%;
    margin-left: 0;
  }

  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
  }

  .btn2 {
    width: 100%;
  }
}
